<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") -%>
</head>
<body>
    <h2>About</h2>
    <p>This is the about page just to check the LAYOUT/PARTIALS functionality of EJS</p>

    <%- include("partials/footer") -%>

</body>
</html>